<footer>
    <div class="container">
        <p class="link"><a href="">Question? Contact us.</a></p>
        <div class="footer-box">
            <div class="contact">
                <p><a href="">Privacy</a></p>
                <p><a href="">Information</a></p>
                <p><a href="">Terms of Use</a></p>
            </div>
            <div>
                <p><a href="">Account</a></p>
                <p><a href="">Help Center</a></p>
                <p><a href="">Way to Watch</a></p>
            </div>
            <div>
                <p><a href="">Cookie Preference</a></p>
                <p><a href="">Media Center</a></p>
                <p><a href="">Legal Notices</a></p>
            </div>
        </div>
        <p class="copyright">&copy; 2023 Live Myanmar (Burma)</p>
    </div>
</footer>
