<div class="page404">
    <div class="box">
        <div class="not-found">
            <h5>Oops! Page not found.</h5>
            <div class="not404">
                <img src="../../assets/images/404-img.png" alt="">
                <h1>404</h1>
            </div>
            <p>Sorry, the page you're looking for doesn't exit. You may have mistyped the address or the page may have moved. If you think something is broken report a problem.</p>
            <button><a routerLink="/home">Back To Home</a></button>
        </div>
    </div>
</div>
