<div class="nav-container">
  <div class="navbar">
    <div class="logo">
      <h1>Live</h1>
    </div>
    <div class="form">
      <div class="input-box">
        <input
          type="text"
          #searchInput
          (keyup)="searchMovie($event)"
          (blur)="hide()"
          placeholder="Stream your next favorite movies... "
          class="search"
          [(ngModel)]="result"
        /><i class="bi bi-search" (click)="search(searchInput.value)"></i>
      </div>
      <ng-container *ngIf="button; else signout">
        <button id="sign-in-btn" routerLink="/login">Sign In</button>
      </ng-container>

      <ng-template #signout>
        <button id="sign-in-btn" routerLink="/home" (click)="signOut()">
          Sign Out
        </button>
      </ng-template>
    </div>
  </div>
  <div class="search-area">
    <ul
      class="result"
      [ngClass]="resultData.length === 0 ? 'search-result' : ''"
    >
      <li *ngFor="let result of resultData">
        <a (click)="search(result.original_title)">{{
          result.original_title
        }}</a>
      </li>
    </ul>
  </div>
</div>
