<app-navbar class="navbar"></app-navbar>
<div class="details">
    <ng-container *ngFor="let movie of result_movies; let i = index">
        <ng-container *ngFor="let result of movie.movies">
            <ng-container *ngIf="i == movieindex && result.id == movieid">
                <img src="http://image.tmdb.org/t/p/w500/{{result.poster_path}}" alt="">
                <div class="text-details">
                    <h1>{{result.title}}</h1>
                    <p>{{result.overview}}</p>
                    <button><a href="">WATCH</a></button>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>
</div>
