.bg-style {
    width: 100%;
    height: auto;
    padding: 5px 0 0;
    margin: 0;
    background: linear-gradient(320deg, rgba(12, 4, 19, 0.9),rgba(4, 14, 33, 0.7)), url(../../assets/images/login-bg.jpg);
    /* box-shadow: 0 0 2px rgba(2, 22, 50, 0.9), 0 0 50px rgba(5, 23, 64, 0.9); */
    z-index: 10;
}

.home-page {
    /* width: 100%; */
    padding: 30px 150px;
    color: #fff;
    font-family: sans-serif;
    margin-bottom: 70px;
}

@media screen and (max-width: 1000px) {
    .home-page {
        padding: 30px 100px;
    }
}

@media screen and (max-width: 910px) {
    .home-page {
        padding: 30px 80px;
    }
}

.home-page h1 {
    font-size: 4em;
    font-weight: 800;
}

.home-page p {
    font-size: 1.2em;
    font-weight: 500;
}

.home-page input {
    width: 400px;
    height: 55px;
    /* border: 1px solid #ccc; */
    /* outline: #ccc 2px solid; */
    margin-right: 20px;
    border-radius: 5px;
    padding: 0 10px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    margin-bottom: 20px;
    display: inline;
}

input.ng-invalid.ng-touched {
    border: 2px solid red;
    box-shadow: 0 0 5px #fff;
}

::placeholder {
    color: rgb(111, 113, 115);
}

.home-page button {
    width: 180px;
    height: 55px;
    background: teal;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.home-page button:hover {
    opacity: .8;
}

@media screen and (max-width: 812px) {
    .home-page {
        padding: 80px 50px 30px;
    }
    .home-page h1 {
        font-size: 2em;
        font-weight: 600;
    }
}

@media screen and (max-width: 700px) {
    .home-page {
        padding: 60px 30px 30px;
    }
    .home-page input {
        width: 300px;
        height: 40px;
    }
    .home-page button {
        width: 100px;
        height: 40px;
    }
}

@media screen and (max-width: 700px) {
    .home-page p {
        font-size: 1em;
    }
    .home-page {
        padding: 80px 15px 30px;
    }
}

@media screen and (max-width: 500px) {
    .home-page h1 {
        font-size: 1.5em;
        font-weight: 400;
    }
    .home-page p {
        font-size: 16px;
        font-weight: 300;
    }
    .home-page input {
        font-size: 16px;
        font-weight: 300;
    }
}

