<div class="movie-container">
  <app-navbar></app-navbar>
     
  <div class="title-box text-white">
    <h1>Welcome to LiveStreaming</h1>
    <h1>Enjoy your multi-movies here</h1>
    <p>You can watch and download the movies.</p>
  </div>

    <div class="contain">

      <div class="row" *ngFor="let movie of result_movies; let i = index">
        <h4>{{movie.title}}</h4>
        <div class="wrapper d-flex">
          <div class="card-box" *ngFor="let result of movie.movies" (click)="watchMovies(result.id, i)">
            <img src="http://image.tmdb.org/t/p/w500/{{result.backdrop_path}}" alt="">
            <div class="text">
              <h5>{{result.original_title}}</h5>
              <div class="rate">
                <p>Popularity</p>
                <p>{{result.popularity}}</p>
              </div>
              <div class="vote">
                <p>Vote Count : {{result.vote_count}}</p>
                <p><span>Rating</span> : {{result.vote_average}}</p>
              </div>
              <div class="date">
                <p>Release Date</p>
                <p>{{result.release_date}}</p>
              </div>
              <p>Language : <i>{{result.original_language}}</i></p>
            </div>
          </div>
        </div>
      </div>
      
      <!-- <div class="row">
        <h4>Tranding Movies</h4>
        <div class="wrapper d-flex">
          <div class="card-box" *ngFor="let movie of tranding">
            <img src="http://image.tmdb.org/t/p/w500/{{movie.backdrop_path}}" alt="">
            <div class="text">
              <h5>{{movie.original_title}}</h5>
              <div class="rate">
                <p>Popularity</p>
                <p>{{movie.popularity}}</p>
              </div>
              <div class="vote">
                <p>Vote Count : {{movie.vote_count}}</p>
                <p><span>Rating</span> : {{movie.vote_average}}</p>
              </div>
              <div class="date">
                <p>Release Date</p>
                <p>{{movie.release_date}}</p>
              </div>
              <p>Language : <i>{{movie.original_language}}</i></p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <h4>Now Playing Movies</h4>
        <div class="wrapper d-flex">
          <div class="card-box" *ngFor="let movie of nowplaying">
            <img src="http://image.tmdb.org/t/p/w500/{{movie.backdrop_path}}" alt="">
            <div class="text">
              <h5>{{movie.original_title}}</h5>
              <div class="rate">
                <p>Popularity</p>
                <p>{{movie.popularity}}</p>
              </div>
              <div class="vote">
                <p>Vote Count : {{movie.vote_count}}</p>
                <p><span>Rating</span> : {{movie.vote_average}}</p>
              </div>
              <div class="date">
                <p>Release Date</p>
                <p>{{movie.release_date}}</p>
              </div>
              <p>Language : <i>{{movie.original_language}}</i></p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <h4>Upcoming Movies</h4>
        <div class="wrapper d-flex">
          <div class="card-box" *ngFor="let movie of upcoming">
            <img src="http://image.tmdb.org/t/p/w500/{{movie.backdrop_path}}" alt="">
            <div class="text">
              <h5>{{movie.original_title}}</h5>
              <div class="rate">
                <p>Popularity</p>
                <p>{{movie.popularity}}</p>
              </div>
              <div class="vote">
                <p>Vote Count : {{movie.vote_count}}</p>
                <p><span>Rating</span> : {{movie.vote_average}}</p>
              </div>
              <div class="date">
                <p>Release Date</p>
                <p>{{movie.release_date}}</p>
              </div>
              <p>Language : <i>{{movie.original_language}}</i></p>
            </div>
          </div>
        </div>
      </div> -->

    </div>
    
    <app-footer></app-footer>
</div>
