<div class="movie-container">
  <app-navbar></app-navbar>
     
  <div class="title-box text-white">
    <h1>Welcome to LiveStreaming</h1>
    <h1>Enjoy your multi-movies here</h1>
    <p>You can watch and download the movies.</p>
  </div>

    <div class="contain">

        <div class="row" *ngFor="let movie of result_movies; let i = index">
          <div *ngIf="loader; else load">
          <h4>{{movie.title}}</h4>
          <div class="wrapper d-flex">
            <div class="card-box" *ngFor="let result of movie.movies" (click)="watchMovies(result.id, i)">
              <img src="http://image.tmdb.org/t/p/w500/{{result.backdrop_path}}" alt="">
              <div class="text">
                <h5>{{result.original_title}}</h5>
                <div class="rate">
                  <p>Popularity</p>
                  <p>{{result.popularity}}</p>
                </div>
                <div class="vote">
                  <p>Vote Count : {{result.vote_count}}</p>
                  <p><span>Rating</span> : {{result.vote_average}}</p>
                </div>
                <div class="date">
                  <p>Release Date</p>
                  <p>{{result.release_date}}</p>
                </div>
                <p>Language : <i>{{result.original_language}}</i></p>
              </div>
            </div>
          </div>
          </div>

          <ng-template #load>
            <div class="item">
              <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
            </div>
            <div class="wrapper d-flex">
              <div class="col-sm-6 col-md-3 ml-1">
                <div class="movie--isloading">
                  <div class="loading-image"></div>
                  <div class="loading-content">
                    <div class="loading-text-container">
                      <div class="loading-main-text"></div>
                      <div class="loading-sub-text"></div>
                    </div>
                    <div class="loading-btn"></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 ml-1">
                <div class="movie--isloading">
                  <div class="loading-image"></div>
                  <div class="loading-content">
                    <div class="loading-text-container">
                      <div class="loading-main-text"></div>
                      <div class="loading-sub-text"></div>
                    </div>
                    <div class="loading-btn"></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 ml-1">
                <div class="movie--isloading">
                  <div class="loading-image"></div>
                  <div class="loading-content">
                    <div class="loading-text-container">
                      <div class="loading-main-text"></div>
                      <div class="loading-sub-text"></div>
                    </div>
                    <div class="loading-btn"></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 ml-1">
                <div class="movie--isloading">
                  <div class="loading-image"></div>
                  <div class="loading-content">
                    <div class="loading-text-container">
                      <div class="loading-main-text"></div>
                      <div class="loading-sub-text"></div>
                    </div>
                    <div class="loading-btn"></div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
    
        </div>

    </div>
    
    <app-footer></app-footer>
</div>
